* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.menu-header {
    width: -webkit-fill-available;
    background-image: url('/images/beans.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: #5d1104; */
    padding: 15px;
    align-items: center;
    color: beige;
    display: inline-flex;

}


.menu-header img {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 4px 4px #150100;
}

.menu-header h1 {
    font-weight: 900;
    margin-left: 40px;
    font-style: oblique;
    text-shadow: 2px 2px black;
}

.content {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-weight: 700;
}

.content h3 {
    color: rgb(238, 174, 144);
}

.container {
    width: 400px;
    height: 700px;
    margin: auto;
    border: 6px solid #150100;
    border-radius: 10px;
    background-image: url('/images/texture.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.coffee,
.non-coffee {
    color: antiquewhite;
    margin-left: 20px;
    margin-top: 15px;
    line-height: 20px;
    display: flex;
    justify-content: space-evenly;

}

.coffee li {
    list-style: none;
    padding: 7px 0;
}

.coffee img {
    width: 100px;
    margin-top: 30px;
}

.non-coffee li {
    list-style: none;
    padding: 5px 0;
}

.non-coffee img {
    width: 130px;
    margin-top: 75px;
}

.content-bottom {
    display: inline-flex;
}

.content-bottom ul {
    list-style: none;
    color: white;
    padding: 6px 6px;
    margin-top: 10px;
}

.content-bottom li {
    padding: 0;
    float: right;
}

.content-bottom li img {
    margin-top: -6px;
    margin-bottom: 8px;
    float: left;
}

.add {
    margin: auto;
    color: whitesmoke;
    margin-left: 80px;
    border-left: 1px solid white;
    padding-left: 3px;
    background: rgba(0, 0, 0, 0.4);
}